body{
    background-image: url('https://cdn.pixabay.com/photo/2017/09/06/11/41/vintage-2721100_1280.jpg');
    background-size: cover;
}
/*
@media (min-width: 500px){
    body{
        background-size: auto;
    }
}
*/
h1, h2{
    text-align: center;
    color: rgb(88, 17, 4);
}

input{
    background-color: teal;
    color: white ;
}

input[type=text], input[type=number], input[type=password]{
    background-color: rgb(150, 52, 6);
    color: white;
}

::placeholder{
    color: white;
}

button{
    background-color: rgb(233, 214, 40);
    color: white;
    width: 20%;
}

button:hover{
    color: rgb(233, 214, 40);
    background-color: white;
}

ul > li{
    color: rgb(56, 51, 20);
}

a:link{
    color:rgb(56, 51, 20);
}

a:hover{
    color:rgb(150, 52, 6);
}

a:visited{
    color: teal;;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0;    
}

.column{
    background-color: rgba(150, 52, 6, 0.178);
    margin: 0 20px;
    padding: 2%;
    width: 42%;

}
/*
@media screen and (max-width: 1000px){
    body{
        

    }
}
.container > div {
    width: 50%;
}*/

.flex-container{
    display: flex; /* il contenitore diventa flessibile*/
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}